<!DOCTYPE html>
<html>
    <head>  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        <style type="text/css">
            <!--
            span.cls_002{font-family:Times,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
            div.cls_002{font-family:Times,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
            span.cls_003{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:italic;text-decoration: none}
            div.cls_003{font-family:Times,serif;font-size:14.1px;color:rgb(0,111,192);font-weight:bold;font-style:italic;text-decoration: none}
            span.cls_004{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_004{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
            div.cls_008{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_009{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
            div.cls_009{font-family:Tahoma,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_006{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_006{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            table {border: 1px solid black;border-collapse: collapse;}
            th {border: 1px solid black;}
            td {border: 1px solid black;}
            -->
        </style>
        <script type="text/javascript" src="351d80d0-af13-11e8-b59b-0cc47a792c0a_id_351d80d0-af13-11e8-b59b-0cc47a792c0a_files/wz_jsgraphics.js"></script>
    </head>

    <body>
        <div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="351d80d0-af13-11e8-b59b-0cc47a792c0a_id_351d80d0-af13-11e8-b59b-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
        <div style="position:absolute;left:176.21px;top:39.78px" class="cls_002"><span class="cls_002">UNIVERSIDAD ABIERTA PARA ADULTOS</span></div>
        <div style="position:absolute;left:276.40px;top:54.77px" class="cls_002"><span class="cls_002">U A P A</span></div>
        <div style="position:absolute;left:161.45px;top:69.79px" class="cls_002"><span class="cls_002">SANTIAGO DE LOS CABALLEROS, REP. DOM.</span></div>
        <div style="position:absolute;left:173.69px;top:84.58px" class="cls_003"><span class="cls_003">CONVALIDACION DE ASIGNATURA(S)</span></div>
        <div style="position:absolute;left:40.87px;top:116.73px" class="cls_004"><span class="cls_004">MATRICULA : </span></div>
        <div style="position:absolute;left:336.51px;top:116.77px" class="cls_004"><span class="cls_004">FECHA DE SOLICITUD:</span></div>
        <div style="position:absolute;left:40.87px;top:131.67px" class="cls_004"><span class="cls_004">NOMBRE (S) :</span></div>
        <div style="position:absolute;left:40.87px;top:146.61px" class="cls_004"><span class="cls_004">APELLIDO (S) :</span></div>
        <div style="position:absolute;left:40.87px;top:161.55px" class="cls_004"><span class="cls_004">CARRERA :</span></div>
        <div style="position:absolute;left:40.87px;top:176.49px" class="cls_004"><span class="cls_004">UNIVERSIDAD DE PROCEDENCIA :</span></div>
        <div style="position:absolute;left:40.87px;top:191.43px" class="cls_004"><span class="cls_004">CARRERA DE PROCEDENCIA :</span></div>
        <div style='position:absolute;left:40.87px;top:230.43px' name="convalidation_table">
            <table>
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Asig. Convalidables</th>
                        <th>CR</th>
                        <th>Clave</th>
                        <th>Asig. Convalidadas</th>
                        <th>CR</th>                        
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>MAT-095</td>
                        <td>Matemática Básica</td>
                        <td>4</td>
                        <td>MAT111</td>
                        <td>Matemática Básica</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>MAT-095</td>
                        <td>Matemática Básica</td>
                        <td>4</td>
                        <td>MAT111</td>
                        <td>Matemática Básica</td>
                        <td>4</td>
                    </tr>                       
                </tbody>
            </table>
        </div>
        <div style="position:absolute;left:115.06px;top:684.37px" class="cls_005"><span class="cls_005">_____________________________</span></div>
        <div style="position:absolute;left:354.69px;top:683.92px" class="cls_005"><span class="cls_005">________________________</span></div>
        <div style="position:absolute;left:151.23px;top:698.17px" class="cls_008"><span class="cls_008">Dra. Reyna Hiraldo</span></div>
        <div style="position:absolute;left:360.47px;top:697.90px" class="cls_008"><span class="cls_008">Alexandra Ventura, M.A.</span></div>
        <div style="position:absolute;left:69.98px;top:711.97px" class="cls_005"><span class="cls_005">Director(a) de la Escuela de Ingeniería y Tecnología</span></div>
        <div style="position:absolute;left:365.47px;top:711.88px" class="cls_005"><span class="cls_005">Director (a) de Registro</span></div>
        <div style="position:absolute;left:88.79px;top:747.41px" class="cls_009"><span class="cls_009">NOTA:</span><span class="cls_006"> </span><span class="cls_004">Este  formulario  es  válido  si  está  debidamente  firmado  y  sellado  por</span></div>
        <div style="position:absolute;left:88.79px;top:758.43px" class="cls_004"><span class="cls_004">las autoridades académicas autorizadas</span><span class="cls_006">.</span></div>
        </div>

        <footer><>
    </body>
</html>