<p id="notice"><%= notice %></p>

<p>
  <strong>Asignatura:</strong>
  <%= @relacion.asignaturas %>
</p>

<p>
  <strong>Convalida:</strong>
  
</p>

<%= link_to 'Edit', edit_relacion_path(@relacion) %> |
<%= link_to 'Back', relacions_path %>
